/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/assets/files_app.zip
public/assets/files_app.zip
/public/assets/files-app/*
public/assets/files-app/*